

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="p-3 mb-2 bg-warning text-dark" style="--bs-bg-opacity: .2;>
      <p class="card-text"><%= params[:question] %></p>
      <p><em>- You</em></p>
    </div>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="p-3 mb-2 bg-warning text-dark" style="--bs-bg-opacity: .2;>
      <p class="card-text"><%= @coach %></p>
      <p><em>- Your coach</em></p>
    </div>
  </div>
</div>


<%= link_to 'Ask a new question', ask_path %>
